@charset "utr-8";

body {
    background: #92BCDA;
}

/* 스킵 메뉴 */
#skip {position: relative;}
#skip a {position: absolute; left: 0; top: -40px; width: 140px; line-height: 30px; border: 1px solid #fff; color: #fff; text-align: center; background: #333;}
#skip a:active,
#skip a:focus {top: 0;}

/* 레이아웃 */
#header {width: 100%; height: 4.6vw; border-bottom: 0.4vw solid #fff; background: rgba(175,175,175,0.4); backdrop-filter: blur(3px) saturate(80%); position: fixed; top: 0; z-index: 1000; font-size: 1.2vw; font-weight: 700; text-transform: uppercase;}
#about_top {height: 33vw; background: #92BCDA; padding-top: 14vw;}
#about_bottom {height: 63vw; background: #92BCDA;}

/* 가운데 영역 */
.container {width: 88%; margin: 0 auto;}

/* 로우 영역 */
.row {border-top: 1px solid #fff; padding: 3vw 0;}

/* 컨텐츠 전체 영역 */
.ex_wrap {position: relative; height: 170px;}
.ex {display: flex;}

/* 숫자 영역 */
.num {font-family: 'GmarketSans'; font-size: 70px; font-weight: 700; letter-spacing: -5px; padding-right: 20px;}

/* 이름 영역 */
.name h3 {font-size: 58px; font-weight: 300; position: absolute; bottom: 46px; left: 145px;}

/* 컨텐츠 영역 */
.content_wrap {width: 1100px; position: absolute; right: 0; bottom: -50px;}
.content {font-family: 'NEXONLv1Gothic'; font-size: 18px; font-weight: 300; display: flex; letter-spacing: 1.4px; line-height: 1.4;}
.content01 {width: 100%; padding-right: 30px;}
.content02 {width: 100%;}

/* 헤더 영역 */
.inner {padding: 0 24px;}
/* .header .header_logo {float: left; padding-top: 5px;}
.header .header_logo em {display: inline-block; padding: 8px 10px; font-weight: 700;}
.header .header_logo em .developer {font-weight: 300;}
.header .nav {float: right; padding-top: 8px; font-weight: 700;}
.header .nav ul {}
.header .nav ul li {float: left; width: 103px; text-align: center;}
.header .nav ul li a {display: block; padding: 19px 0 19px 10px;} */
.header {position: relative; display: flex; align-items: center; height: 100%;}
.header .header_logo {padding-left: 0.7vw; line-height: 1;}
.header .header_logo em .developer {font-weight: 300;}
.header .nav {height: 4.6vw;}
.header .nav ul {display: flex; align-items: center; height: 100%; position: absolute; right: 0;}
.header .nav ul li {width: 6vw; text-align: center;}
.header .nav ul li a {display: block; padding: 19px 0 19px 10px;}

/* about 영역 */
/* .about_top .container {background: #000;} */
.about_top .title {line-height: 0.82;}
.about_top .title h1 {font-size: 16.8vw; font-weight: 400; text-transform: uppercase;}