body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
}

.summerdream {
    transform: scale(1.5);
}

div {
    transform-style: preserve-3d;
}

.ship {
    position: absolute;
    top: -15px;
    left: -50px;
    filter: drop-shadow(-30px 40px 0 rgba(0, 0, 0, 0.1));
}

.ship .rotate {
    transform: rotateZ(10deg);
    animation: ship 30000ms linear infinite alternate;
}

.ship .human {
    position: absolute;
    top: 0;
    left: 40px;
}

.ship .human .hat {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #F0F09E;
    border-radius: 100%;
    animation: hat 1000ms ease-in-out infinite alternate;
}

.ship .human .hat::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
    border: 1px solid #D9845D;
    border-radius: 100%;
    box-sizing: border-box;
    transform: translateZ(5px);
    transform-style: preserve-3d;
}

.ship .human .leg {
    position: absolute;
    width: 20px;
    height: 8px;
    background: #0849A3;
    border-radius: 40%;
}

.ship .human .leg::before {
    content: "";
    position: absolute;
    left: -4px;
    width: 5px;
    height: 7px;
    background: #fff;
    border-radius: 40%;
}

.ship .human .leg.-left {
    top: 16px;
    left: -10px;
    transform: rotateZ(-5deg);
}

.ship .human .leg.-left::before {
    top: 1px;
}

.ship .human .leg.-right {
    top: 6px;
    left: -10px;
    transform: rotateZ(5deg);
}

.ship .human .leg.-right::before {
    top: -1px;
}

.ship .body {
    position: relative;
}

.ship .body .base {
    width: 100px;
    height: 30px;
    background: #D9845D;
    border-radius: 45% 45% 45% 45%;
}

.ship .body .base::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 96px;
    height: 26px;
    background: #DEAD5E;
    border-radius: 100%;
    border-radius: 45% 45% 45% 45%;
}

.ship .body .board {
    position: absolute;
    top: 5px;
    width: 10px;
    height: 20px;
    background: #D9845D;
    border-radius: 2px;
}

.ship .body .board.-front {
    right: 20px;
}

.ship .body .board.-back {
    left: 20px;
}

.ship .body .waves {
    position: absolute;
}

.ship .body .waves .wave {
    position: absolute;
    animation: wave 2000ms linear infinite;
}

.ship .body .waves .wave .graphic {
    background: #fff;
    animation: surface 2000ms ease-in-out infinite alternate, rotateZ 6000ms linear infinite;
}

.ship .body .waves .bodywaves .wave:nth-child(1) {
    top: 15px;
    left: 15px;
    animation-delay: -2621ms;
}

.ship .body .waves .bodywaves .wave:nth-child(1) .graphic {
    width: 10px;
    height: 16px;
}

.ship .body .waves .bodywaves .wave:nth-child(2) {
    top: -2px;
    left: 17px;
    animation-delay: -2878ms;
}

.ship .body .waves .bodywaves .wave:nth-child(2) .graphic {
    width: 14px;
    height: 10px;
}

.ship .body .waves .bodywaves .wave:nth-child(3) {
    top: 5px;
    left: 25px;
    animation-delay: -1744ms;
}

.ship .body .waves .bodywaves .wave:nth-child(3) .graphic {
    width: 11px;
    height: 11px;
}

.ship .body .waves .bodywaves .wave:nth-child(4) {
    top: 17px;
    left: 29px;
    animation-delay: -2937ms;
}

.ship .body .waves .bodywaves .wave:nth-child(4) .graphic {
    width: 12px;
    height: 9px;
}

.ship .body .waves .bodywaves .wave:nth-child(5) {
    top: 2px;
    left: 14px;
    animation-delay: -1658ms;
}

.ship .body .waves .bodywaves .wave:nth-child(5) .graphic {
    width: 9px;
    height: 16px;
}

.ship .body .waves .bodywaves .wave:nth-child(6) {
    top: 8px;
    left: 21px;
    animation-delay: -153ms;
}

.ship .body .waves .bodywaves .wave:nth-child(6) .graphic {
    width: 12px;
    height: 12px;
}

.ship .body .waves .bodywaves .wave:nth-child(7) {
    top: 2px;
    left: 13px;
    animation-delay: -1561ms;
}

.ship .body .waves .bodywaves .wave:nth-child(7) .graphic {
    width: 16px;
    height: 10px;
}

.ship .body .waves .bodywaves .wave:nth-child(8) {
    top: 10px;
    left: 36px;
    animation-delay: -1500ms;
}

.ship .body .waves .bodywaves .wave:nth-child(8) .graphic {
    width: 17px;
    height: 16px;
}

.ship .body .waves .bodywaves .wave:nth-child(9) {
    top: 17px;
    left: 26px;
    animation-delay: -191ms;
}

.ship .body .waves .bodywaves .wave:nth-child(9) .graphic {
    width: 12px;
    height: 18px;
}

.ship .body .waves .bodywaves .wave:nth-child(10) {
    top: -1px;
    left: 38px;
    animation-delay: -767ms;
}

.ship .body .waves .bodywaves .wave:nth-child(10) .graphic {
    width: 17px;
    height: 16px;
}

.ship .body .waves .bodywaves .wave:nth-child(11) {
    top: 9px;
    left: 15px;
    animation-delay: -2924ms;
}

.ship .body .waves .bodywaves .wave:nth-child(11) .graphic {
    width: 9px;
    height: 15px;
}

.ship .body .waves .bodywaves .wave:nth-child(12) {
    top: 13px;
    left: 44px;
    animation-delay: -2365ms;
}

.ship .body .waves .bodywaves .wave:nth-child(12) .graphic {
    width: 10px;
    height: 18px;
}

.ship .body .waves .bodywaves .wave:nth-child(13) {
    top: 7px;
    left: 18px;
    animation-delay: -72ms;
}

.ship .body .waves .bodywaves .wave:nth-child(13) .graphic {
    width: 14px;
    height: 14px;
}

.ship .body .waves .bodywaves .wave:nth-child(14) {
    top: 5px;
    left: 31px;
    animation-delay: -1159ms;
}

.ship .body .waves .bodywaves .wave:nth-child(14) .graphic {
    width: 11px;
    height: 11px;
}

.ship .body .waves .bodywaves .wave:nth-child(15) {
    top: -2px;
    left: 48px;
    animation-delay: -464ms;
}

.ship .body .waves .bodywaves .wave:nth-child(15) .graphic {
    width: 15px;
    height: 14px;
}

.ship .body .waves .bodywaves .wave:nth-child(16) {
    top: 4px;
    left: 45px;
    animation-delay: -1777ms;
}

.ship .body .waves .bodywaves .wave:nth-child(16) .graphic {
    width: 18px;
    height: 13px;
}

.ship .body .waves .bodywaves .wave:nth-child(17) {
    top: 1px;
    left: 16px;
    animation-delay: -3460ms;
}

.ship .body .waves .bodywaves .wave:nth-child(17) .graphic {
    width: 9px;
    height: 12px;
}

.ship .body .waves .bodywaves .wave:nth-child(18) {
    top: 5px;
    left: 44px;
    animation-delay: -991ms;
}

.ship .body .waves .bodywaves .wave:nth-child(18) .graphic {
    width: 16px;
    height: 13px;
}

.ship .body .waves .bodywaves .wave:nth-child(19) {
    top: 6px;
    left: 32px;
    animation-delay: -1427ms;
}

.ship .body .waves .bodywaves .wave:nth-child(19) .graphic {
    width: 14px;
    height: 12px;
}

.ship .body .waves .bodywaves .wave:nth-child(20) {
    top: 15px;
    left: 30px;
    animation-delay: -572ms;
}

.ship .body .waves .bodywaves .wave:nth-child(20) .graphic {
    width: 16px;
    height: 17px;
}

.ship .body .waves .bodywaves .wave:nth-child(21) {
    top: -2px;
    left: 28px;
    animation-delay: -1178ms;
}

.ship .body .waves .bodywaves .wave:nth-child(21) .graphic {
    width: 16px;
    height: 15px;
}

.ship .body .waves .bodywaves .wave:nth-child(22) {
    top: 6px;
    left: 35px;
    animation-delay: -3531ms;
}

.ship .body .waves .bodywaves .wave:nth-child(22) .graphic {
    width: 12px;
    height: 18px;
}

.ship .body .waves .bodywaves .wave:nth-child(23) {
    top: 6px;
    left: 49px;
    animation-delay: -551ms;
}

.ship .body .waves .bodywaves .wave:nth-child(23) .graphic {
    width: 16px;
    height: 15px;
}

.ship .body .waves .bodywaves .wave:nth-child(24) {
    top: 14px;
    left: 35px;
    animation-delay: -2357ms;
}

.ship .body .waves .bodywaves .wave:nth-child(24) .graphic {
    width: 18px;
    height: 12px;
}

.ship .body .waves .bodywaves .wave:nth-child(25) {
    top: 4px;
    left: 56px;
    animation-delay: -2036ms;
}

.ship .body .waves .bodywaves .wave:nth-child(25) .graphic {
    width: 13px;
    height: 12px;
}

.ship .body .waves .bodywaves .wave:nth-child(26) {
    top: -2px;
    left: 52px;
    animation-delay: -1923ms;
}

.ship .body .waves .bodywaves .wave:nth-child(26) .graphic {
    width: 11px;
    height: 18px;
}

.ship .body .waves .bodywaves .wave:nth-child(27) {
    top: 14px;
    left: 56px;
    animation-delay: -3239ms;
}

.ship .body .waves .bodywaves .wave:nth-child(27) .graphic {
    width: 10px;
    height: 17px;
}

.ship .body .waves .bodywaves .wave:nth-child(28) {
    top: 15px;
    left: 19px;
    animation-delay: -1745ms;
}

.ship .body .waves .bodywaves .wave:nth-child(28) .graphic {
    width: 17px;
    height: 13px;
}

.ship .body .waves .bodywaves .wave:nth-child(29) {
    top: 1px;
    left: 18px;
    animation-delay: -2391ms;
}

.ship .body .waves .bodywaves .wave:nth-child(29) .graphic {
    width: 12px;
    height: 14px;
}

.ship .body .waves .bodywaves .wave:nth-child(30) {
    top: 15px;
    left: 23px;
    animation-delay: -153ms;
}

.ship .body .waves .bodywaves .wave:nth-child(30) .graphic {
    width: 11px;
    height: 9px;
}

.ship .body .waves .bodywaves .wave:nth-child(31) {
    top: 9px;
    left: 56px;
    animation-delay: -1397ms;
}

.ship .body .waves .bodywaves .wave:nth-child(31) .graphic {
    width: 12px;
    height: 16px;
}

.ship .body .waves .bodywaves .wave:nth-child(32) {
    top: 3px;
    left: 58px;
    animation-delay: -3801ms;
}

.ship .body .waves .bodywaves .wave:nth-child(32) .graphic {
    width: 12px;
    height: 11px;
}

.ship .body .waves .bodywaves .wave:nth-child(33) {
    top: -2px;
    left: 43px;
    animation-delay: -66ms;
}

.ship .body .waves .bodywaves .wave:nth-child(33) .graphic {
    width: 14px;
    height: 12px;
}

.ship .body .waves .bodywaves .wave:nth-child(34) {
    top: 5px;
    left: 12px;
    animation-delay: -1698ms;
}

.ship .body .waves .bodywaves .wave:nth-child(34) .graphic {
    width: 11px;
    height: 9px;
}

.ship .body .waves .bodywaves .wave:nth-child(35) {
    top: 14px;
    left: 31px;
    animation-delay: -2462ms;
}

.ship .body .waves .bodywaves .wave:nth-child(35) .graphic {
    width: 18px;
    height: 18px;
}

.ship .body .waves .bodywaves .wave:nth-child(36) {
    top: 14px;
    left: 50px;
    animation-delay: -972ms;
}

.ship .body .waves .bodywaves .wave:nth-child(36) .graphic {
    width: 15px;
    height: 13px;
}

.ship .body .waves .bodywaves .wave:nth-child(37) {
    top: 3px;
    left: 19px;
    animation-delay: -478ms;
}

.ship .body .waves .bodywaves .wave:nth-child(37) .graphic {
    width: 9px;
    height: 11px;
}

.ship .body .waves .bodywaves .wave:nth-child(38) {
    top: 10px;
    left: 47px;
    animation-delay: -2652ms;
}

.ship .body .waves .bodywaves .wave:nth-child(38) .graphic {
    width: 13px;
    height: 13px;
}

.ship .body .waves .bodywaves .wave:nth-child(39) {
    top: 0px;
    left: 27px;
    animation-delay: -2811ms;
}

.ship .body .waves .bodywaves .wave:nth-child(39) .graphic {
    width: 11px;
    height: 13px;
}

.ship .body .waves .bodywaves .wave:nth-child(40) {
    top: 10px;
    left: 36px;
    animation-delay: -3433ms;
}

.ship .body .waves .bodywaves .wave:nth-child(40) .graphic {
    width: 11px;
    height: 10px;
}

.ship .body .waves .bodywaves .wave:nth-child(41) {
    top: 14px;
    left: 53px;
    animation-delay: -715ms;
}

.ship .body .waves .bodywaves .wave:nth-child(41) .graphic {
    width: 17px;
    height: 14px;
}

.ship .body .waves .bodywaves .wave:nth-child(42) {
    top: 14px;
    left: 58px;
    animation-delay: -381ms;
}

.ship .body .waves .bodywaves .wave:nth-child(42) .graphic {
    width: 10px;
    height: 17px;
}

.ship .body .waves .bodywaves .wave:nth-child(43) {
    top: -1px;
    left: 60px;
    animation-delay: -3910ms;
}

.ship .body .waves .bodywaves .wave:nth-child(43) .graphic {
    width: 15px;
    height: 12px;
}

.ship .body .waves .bodywaves .wave:nth-child(44) {
    top: 3px;
    left: 41px;
    animation-delay: -2490ms;
}

.ship .body .waves .bodywaves .wave:nth-child(44) .graphic {
    width: 13px;
    height: 9px;
}

.ship .body .waves .bodywaves .wave:nth-child(45) {
    top: 14px;
    left: 50px;
    animation-delay: -2961ms;
}

.ship .body .waves .bodywaves .wave:nth-child(45) .graphic {
    width: 12px;
    height: 14px;
}

.ship .body .waves .bodywaves .wave:nth-child(46) {
    top: 7px;
    left: 25px;
    animation-delay: -980ms;
}

.ship .body .waves .bodywaves .wave:nth-child(46) .graphic {
    width: 13px;
    height: 14px;
}

.ship .body .waves .bodywaves .wave:nth-child(47) {
    top: -1px;
    left: 56px;
    animation-delay: -2880ms;
}

.ship .body .waves .bodywaves .wave:nth-child(47) .graphic {
    width: 12px;
    height: 10px;
}

.ship .body .waves .bodywaves .wave:nth-child(48) {
    top: 7px;
    left: 16px;
    animation-delay: -3057ms;
}

.ship .body .waves .bodywaves .wave:nth-child(48) .graphic {
    width: 17px;
    height: 9px;
}

.ship .body .waves .bodywaves .wave:nth-child(49) {
    top: 6px;
    left: 47px;
    animation-delay: -3188ms;
}

.ship .body .waves .bodywaves .wave:nth-child(49) .graphic {
    width: 15px;
    height: 17px;
}

.ship .body .waves .bodywaves .wave:nth-child(50) {
    top: 2px;
    left: 33px;
    animation-delay: -3279ms;
}

.ship .body .waves .bodywaves .wave:nth-child(50) .graphic {
    width: 14px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(1) {
    top: -24px;
    left: 47px;
    animation-delay: -1459ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(1) .graphic {
    width: 10px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(2) {
    top: -29px;
    left: 45px;
    animation-delay: -1483ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(2) .graphic {
    width: 10px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(3) {
    top: -23px;
    left: 49px;
    animation-delay: -1254ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(3) .graphic {
    width: 9px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(4) {
    top: -23px;
    left: 43px;
    animation-delay: -1121ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(4) .graphic {
    width: 7px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(5) {
    top: -17px;
    left: 46px;
    animation-delay: -1695ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(5) .graphic {
    width: 7px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(6) {
    top: -21px;
    left: 49px;
    animation-delay: -1375ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(6) .graphic {
    width: 8px;
    height: 8px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(7) {
    top: -26px;
    left: 47px;
    animation-delay: -1660ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(7) .graphic {
    width: 8px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(8) {
    top: -10px;
    left: 46px;
    animation-delay: -1223ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(8) .graphic {
    width: 9px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(9) {
    top: -20px;
    left: 43px;
    animation-delay: -1182ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(9) .graphic {
    width: 10px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(10) {
    top: -19px;
    left: 43px;
    animation-delay: -1170ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(10) .graphic {
    width: 10px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(11) {
    top: -12px;
    left: 45px;
    animation-delay: -1754ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(11) .graphic {
    width: 10px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(12) {
    top: -13px;
    left: 41px;
    animation-delay: -1348ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(12) .graphic {
    width: 10px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(13) {
    top: -22px;
    left: 45px;
    animation-delay: -1203ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(13) .graphic {
    width: 9px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(14) {
    top: -18px;
    left: 41px;
    animation-delay: -1153ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(14) .graphic {
    width: 10px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(15) {
    top: -18px;
    left: 44px;
    animation-delay: -1019ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(15) .graphic {
    width: 10px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(16) {
    top: -27px;
    left: 43px;
    animation-delay: -1356ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(16) .graphic {
    width: 6px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(17) {
    top: -15px;
    left: 44px;
    animation-delay: -1015ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(17) .graphic {
    width: 6px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(18) {
    top: -10px;
    left: 48px;
    animation-delay: -1336ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(18) .graphic {
    width: 7px;
    height: 8px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(19) {
    top: -27px;
    left: 50px;
    animation-delay: -1153ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(19) .graphic {
    width: 10px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(20) {
    top: -14px;
    left: 46px;
    animation-delay: -1463ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(20) .graphic {
    width: 7px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(21) {
    top: -28px;
    left: 47px;
    animation-delay: -1348ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(21) .graphic {
    width: 9px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(22) {
    top: -26px;
    left: 44px;
    animation-delay: -1363ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(22) .graphic {
    width: 9px;
    height: 8px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(23) {
    top: -14px;
    left: 47px;
    animation-delay: -1630ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(23) .graphic {
    width: 10px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(24) {
    top: -16px;
    left: 42px;
    animation-delay: -1082ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(24) .graphic {
    width: 10px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(25) {
    top: -11px;
    left: 50px;
    animation-delay: -1600ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(25) .graphic {
    width: 9px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(26) {
    top: -16px;
    left: 43px;
    animation-delay: -1346ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(26) .graphic {
    width: 7px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(27) {
    top: -15px;
    left: 41px;
    animation-delay: -1047ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(27) .graphic {
    width: 8px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(28) {
    top: -29px;
    left: 47px;
    animation-delay: -1007ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(28) .graphic {
    width: 10px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(29) {
    top: -13px;
    left: 42px;
    animation-delay: -1217ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(29) .graphic {
    width: 7px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(30) {
    top: -25px;
    left: 41px;
    animation-delay: -1248ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(30) .graphic {
    width: 8px;
    height: 8px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(31) {
    top: -16px;
    left: 50px;
    animation-delay: -1460ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(31) .graphic {
    width: 7px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(32) {
    top: -16px;
    left: 47px;
    animation-delay: -1782ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(32) .graphic {
    width: 7px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(33) {
    top: -27px;
    left: 47px;
    animation-delay: -1479ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(33) .graphic {
    width: 8px;
    height: 8px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(34) {
    top: -10px;
    left: 48px;
    animation-delay: -1113ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(34) .graphic {
    width: 6px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(35) {
    top: -17px;
    left: 50px;
    animation-delay: -1320ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(35) .graphic {
    width: 6px;
    height: 7px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(36) {
    top: -13px;
    left: 43px;
    animation-delay: -1448ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(36) .graphic {
    width: 6px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(37) {
    top: -10px;
    left: 46px;
    animation-delay: -1484ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(37) .graphic {
    width: 10px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(38) {
    top: -23px;
    left: 49px;
    animation-delay: -1226ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(38) .graphic {
    width: 6px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(39) {
    top: -11px;
    left: 48px;
    animation-delay: -1734ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(39) .graphic {
    width: 8px;
    height: 7px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(40) {
    top: -16px;
    left: 49px;
    animation-delay: -1425ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(40) .graphic {
    width: 9px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(41) {
    top: -27px;
    left: 41px;
    animation-delay: -1510ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(41) .graphic {
    width: 10px;
    height: 8px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(42) {
    top: -11px;
    left: 42px;
    animation-delay: -1251ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(42) .graphic {
    width: 6px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(43) {
    top: -19px;
    left: 43px;
    animation-delay: -1270ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(43) .graphic {
    width: 9px;
    height: 9px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(44) {
    top: -15px;
    left: 48px;
    animation-delay: -1174ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(44) .graphic {
    width: 9px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(45) {
    top: -26px;
    left: 44px;
    animation-delay: -1290ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(45) .graphic {
    width: 8px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(46) {
    top: -18px;
    left: 48px;
    animation-delay: -1090ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(46) .graphic {
    width: 7px;
    height: 7px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(47) {
    top: -23px;
    left: 45px;
    animation-delay: -1769ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(47) .graphic {
    width: 10px;
    height: 7px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(48) {
    top: -10px;
    left: 48px;
    animation-delay: -1695ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(48) .graphic {
    width: 9px;
    height: 6px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(49) {
    top: -23px;
    left: 41px;
    animation-delay: -1080ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(49) .graphic {
    width: 7px;
    height: 10px;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(50) {
    top: -18px;
    left: 48px;
    animation-delay: -1157ms;
}

.ship .body .waves .oarwaves.-left .wave:nth-child(50) .graphic {
    width: 9px;
    height: 10px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(1) {
    top: 42px;
    left: 44px;
    animation-delay: -1063ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(1) .graphic {
    width: 7px;
    height: 6px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(2) {
    top: 41px;
    left: 49px;
    animation-delay: -1208ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(2) .graphic {
    width: 7px;
    height: 6px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(3) {
    top: 38px;
    left: 50px;
    animation-delay: -1518ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(3) .graphic {
    width: 7px;
    height: 6px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(4) {
    top: 44px;
    left: 42px;
    animation-delay: -1242ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(4) .graphic {
    width: 7px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(5) {
    top: 42px;
    left: 41px;
    animation-delay: -1489ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(5) .graphic {
    width: 9px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(6) {
    top: 53px;
    left: 43px;
    animation-delay: -1191ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(6) .graphic {
    width: 9px;
    height: 8px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(7) {
    top: 38px;
    left: 46px;
    animation-delay: -1002ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(7) .graphic {
    width: 9px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(8) {
    top: 47px;
    left: 46px;
    animation-delay: -1140ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(8) .graphic {
    width: 10px;
    height: 9px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(9) {
    top: 42px;
    left: 49px;
    animation-delay: -1782ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(9) .graphic {
    width: 6px;
    height: 6px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(10) {
    top: 45px;
    left: 42px;
    animation-delay: -1237ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(10) .graphic {
    width: 6px;
    height: 10px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(11) {
    top: 45px;
    left: 50px;
    animation-delay: -1710ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(11) .graphic {
    width: 10px;
    height: 10px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(12) {
    top: 36px;
    left: 42px;
    animation-delay: -1670ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(12) .graphic {
    width: 6px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(13) {
    top: 55px;
    left: 50px;
    animation-delay: -1156ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(13) .graphic {
    width: 9px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(14) {
    top: 36px;
    left: 41px;
    animation-delay: -1787ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(14) .graphic {
    width: 8px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(15) {
    top: 39px;
    left: 44px;
    animation-delay: -1311ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(15) .graphic {
    width: 6px;
    height: 8px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(16) {
    top: 37px;
    left: 41px;
    animation-delay: -1226ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(16) .graphic {
    width: 10px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(17) {
    top: 43px;
    left: 41px;
    animation-delay: -1400ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(17) .graphic {
    width: 10px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(18) {
    top: 38px;
    left: 47px;
    animation-delay: -1163ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(18) .graphic {
    width: 10px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(19) {
    top: 53px;
    left: 46px;
    animation-delay: -1687ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(19) .graphic {
    width: 9px;
    height: 8px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(20) {
    top: 50px;
    left: 48px;
    animation-delay: -1711ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(20) .graphic {
    width: 6px;
    height: 8px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(21) {
    top: 46px;
    left: 49px;
    animation-delay: -1651ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(21) .graphic {
    width: 6px;
    height: 8px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(22) {
    top: 54px;
    left: 41px;
    animation-delay: -1153ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(22) .graphic {
    width: 6px;
    height: 10px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(23) {
    top: 46px;
    left: 46px;
    animation-delay: -1232ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(23) .graphic {
    width: 7px;
    height: 6px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(24) {
    top: 40px;
    left: 46px;
    animation-delay: -1426ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(24) .graphic {
    width: 9px;
    height: 8px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(25) {
    top: 40px;
    left: 47px;
    animation-delay: -1164ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(25) .graphic {
    width: 10px;
    height: 9px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(26) {
    top: 48px;
    left: 49px;
    animation-delay: -1775ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(26) .graphic {
    width: 6px;
    height: 8px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(27) {
    top: 44px;
    left: 47px;
    animation-delay: -1166ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(27) .graphic {
    width: 8px;
    height: 9px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(28) {
    top: 42px;
    left: 47px;
    animation-delay: -1441ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(28) .graphic {
    width: 10px;
    height: 10px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(29) {
    top: 37px;
    left: 48px;
    animation-delay: -1724ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(29) .graphic {
    width: 6px;
    height: 9px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(30) {
    top: 54px;
    left: 44px;
    animation-delay: -1179ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(30) .graphic {
    width: 9px;
    height: 6px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(31) {
    top: 37px;
    left: 50px;
    animation-delay: -1324ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(31) .graphic {
    width: 9px;
    height: 10px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(32) {
    top: 40px;
    left: 45px;
    animation-delay: -1543ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(32) .graphic {
    width: 8px;
    height: 10px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(33) {
    top: 49px;
    left: 41px;
    animation-delay: -1572ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(33) .graphic {
    width: 6px;
    height: 6px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(34) {
    top: 48px;
    left: 46px;
    animation-delay: -1622ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(34) .graphic {
    width: 6px;
    height: 8px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(35) {
    top: 47px;
    left: 41px;
    animation-delay: -1065ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(35) .graphic {
    width: 9px;
    height: 8px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(36) {
    top: 48px;
    left: 42px;
    animation-delay: -1615ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(36) .graphic {
    width: 6px;
    height: 9px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(37) {
    top: 41px;
    left: 50px;
    animation-delay: -1177ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(37) .graphic {
    width: 9px;
    height: 8px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(38) {
    top: 37px;
    left: 49px;
    animation-delay: -1075ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(38) .graphic {
    width: 6px;
    height: 10px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(39) {
    top: 45px;
    left: 42px;
    animation-delay: -1216ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(39) .graphic {
    width: 10px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(40) {
    top: 52px;
    left: 50px;
    animation-delay: -1137ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(40) .graphic {
    width: 9px;
    height: 9px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(41) {
    top: 50px;
    left: 50px;
    animation-delay: -1755ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(41) .graphic {
    width: 6px;
    height: 8px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(42) {
    top: 47px;
    left: 46px;
    animation-delay: -1610ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(42) .graphic {
    width: 7px;
    height: 10px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(43) {
    top: 47px;
    left: 47px;
    animation-delay: -1318ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(43) .graphic {
    width: 6px;
    height: 10px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(44) {
    top: 51px;
    left: 49px;
    animation-delay: -1322ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(44) .graphic {
    width: 7px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(45) {
    top: 49px;
    left: 42px;
    animation-delay: -1074ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(45) .graphic {
    width: 7px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(46) {
    top: 45px;
    left: 46px;
    animation-delay: -1739ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(46) .graphic {
    width: 10px;
    height: 9px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(47) {
    top: 40px;
    left: 46px;
    animation-delay: -1217ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(47) .graphic {
    width: 10px;
    height: 9px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(48) {
    top: 36px;
    left: 49px;
    animation-delay: -1278ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(48) .graphic {
    width: 7px;
    height: 6px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(49) {
    top: 50px;
    left: 44px;
    animation-delay: -1449ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(49) .graphic {
    width: 6px;
    height: 7px;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(50) {
    top: 53px;
    left: 48px;
    animation-delay: -1256ms;
}

.ship .body .waves .oarwaves.-right .wave:nth-child(50) .graphic {
    width: 9px;
    height: 6px;
}

.ship .oars {
    position: absolute;
    top: -30px;
    left: 50px;
    transform: translateZ(10px);
}

.ship .oars .graphic {
    position: relative;
    width: 3px;
    height: 40px;
    background: #D9845D;
    animation: oarGraphic 1000ms ease-in-out infinite alternate;
}

.ship .oars .graphic::before {
    content: "";
    position: absolute;
    top: 0;
    left: -3px;
    width: 9px;
    height: 15px;
    background: #D9845D;
    border-radius: 5px 5px 100% 100%;
}

.ship .oars .oar {
    position: absolute;
    top: 0;
    left: 50%;
}

.ship .oars .oar.-right {
    transform-origin: 50% 45px;
    transform: scaleY(-1);
}

.ship .oars .row {
    position: absolute;
    animation: row 1000ms ease-in-out infinite alternate;
    transform-origin: 50% 35px;
}

.ship .oars .depth {
    animation: depth 1000ms ease-in-out infinite alternate;
    transform-origin: 50% 35px;
    animation-delay: -500ms;
}

@keyframes surface {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }

    25% {
        border-radius: 65% 35% 51% 49%/49% 52% 48% 51%;
    }

    50% {
        border-radius: 42% 58% 28% 72%/65% 34% 66% 35%;
    }

    75% {
        border-radius: 34% 66% 63% 37%/77% 38% 62% 23%;
    }

    100% {
        border-radius: 24% 76% 72% 28%/53% 68% 32% 47%;
    }
}

@keyframes rotateZ {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes ship {
    0% {
        transform: rotateZ(20deg);
    }

    100% {
        transform: rotateZ(-20deg);
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(5px);
    }
}

@keyframes wave {
    0% {
        transform: translateX(0) scale(0);
    }

    10% {
        transform: translateX(-10px) scale(1);
    }

    100% {
        transform: translateX(-130px) scale(0);
    }
}

@keyframes depth {
    0% {
        transform: rotateX(-20deg);
    }

    100% {
        transform: rotateX(50deg);
    }
}

@keyframes row {
    0% {
        transform: rotateZ(20deg);
    }

    100% {
        transform: rotateZ(-50deg);
    }
}

@keyframes oarGraphic {
    0% {
        transform: rotateY(-60deg);
    }

    100% {
        transform: rotateY(-110deg);
    }
}

@keyframes hat {
    0% {
        transform: translateZ(30px) translateX(-5px) rotateY(-20deg);
    }

    100% {
        transform: translateZ(30px) translateX(0) rotateY(20deg);
    }
}

@media (max-width: 600px) {
    .summerdream {
        transform: scale(1);
    }
}