//#mainCont
//#aboutCont
//#referCont
//#scriptCont
//#portCont

.container {
    width: 74vw;
    // width: 1300px;
}

//#mainCont
#mainCont {
    background-color: #000;
    height: 100vh;
    color: #fff;
    font-family: $font-main;
    font-size: 9vw;
    line-height: .91;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    br {
        display: none;
    }
}

//#mainCont02
#mainCont02 {
    background-color: #B1B8A7;
    height: 100vh;
    color: #fff;
    font-family: $font-sub02;
    font-size: 7vw;
    line-height: .91;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .main__cont02 {
        display: flex;
        align-items: center;
        position: relative;

        .cont02__wrap {
            margin-right: 6vw;

            .cont01 {
                font-size: 5vw;
                margin-bottom: 2vw;
            }
            .cont02 {
                font-family: $font-main02;
                color: #393D34;
                font-weight: 700;
                margin-bottom: 2vw;
            }
            .cont03 {
                font-size: 1.5vw;
                display: flex;
                justify-content: space-between;
            }
        }

        img {
            width: 30vw;
            height: 32vw;
            z-index: 100;
        }
    }

    .back02 {
        width: 25%;
        background: #1F1D22;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media(max-width: 800px){
    #mainCont {
        font-size: 15vw;
    }
}

@media(max-width: 1100px){
    #mainCont02 {
        font-size: 9vw;

        .main__cont02 {

            .cont02__wrap {
                margin-right: 5.5vw;

                .cont03 {
                    font-size: 2vw;
                }
            }

            img {
                width: 36vw;
                height: 38vw;
                z-index: 100;
            }
        }
    }
}

@media(max-width: 800px){
    #mainCont02 {
        font-size: 13vw;
        background: url(../img/main02.jpg) no-repeat;
        background-size: cover;

        &::before {
            content: "";
            opacity: 0.6;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: #000;
        }

        .main__cont02 {

            .cont02__wrap {
                margin-right: 0;

                .cont02 {
                    color: #c1d6a5;
                }

                .cont03 {
                    font-size: 2.5vw;
                }
            }

            img {
                display: none;
            }
        }

        .back02 {
            display: none;
        }
    }
}


//#aboutCont
#about {
    background-color: #B1B8A7;
}
#aboutCont01 {
    width: 100%;
    height: 190vh;
    color: #fff;
    font-family: $font-sub02;
    font-size: 1.4vw;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__wrap {
    width: 100%;
}
.about__wrap h2 {
    font-family: $font-main02;
    color: #393D34;
    font-size: 7vw;
    font-weight: 700;
    line-height: 1;
    margin: 6vw 0;
}
.about__cont {}
.about__cont img {
    width: 100%;
    margin-bottom: 3vw;
}
.about__cont .about__cont__wrap {}
.about__cont__wrap .cont01 {
    line-height: 1.2;
    margin-bottom: 1.5vw;
    font-size: 2.8vw;
    font-family: $font-kor1;
}
.about__cont__wrap .cont02 {
    line-height: 1.4;
    font-family: $font-kor2;
    font-weight: 100;
}

#aboutCont02 {
    width: 100%;
    height: 110vh;
    color: #fff;
    font-family: $font-sub02;
    font-size: 1.3vw;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__cont02 {
    display: flex;
    align-items: flex-end;
}
.about__cont02 img {
    height: 42vw;
    margin-right: 4vw;
}
.about__cont02 .about__cont__wrap {}
.about__cont02 .about__cont__wrap .cont01 {
    margin-bottom: 1.5vw;
    line-height: 1.2;
    font-size: 2.8vw;
}
.about__cont02 .about__cont__wrap .cont02 {
    line-height: 1.4;
}

#aboutCont03 {
    width: 100%;
    height: 96vh;
    color: #fff;
    font-family: $font-sub02;
    font-size: 1.3vw;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__wrap03 {
    width: 100%;
    margin-bottom: 10vw;
}
.about__wrap03 img {
    height: 24vw;
    margin: 0 0 0 4vw;
}
.about__wrap03 .cont01 {
    line-height: 1.2;
}

@media(max-width: 1100px){
    #aboutCont01 {
        height: 130vh;
        font-size: 1.8vw;

        .about__wrap h2 {
            font-size: 9vw;
            font-weight: 700;
        }

        .cont01 {
            font-size: 3.6vw;
        }
    }

    #aboutCont02 {
        height: 60vh;
        font-size: 1.8vw;

        .cont01 {
            font-size: 3.6vw;
        }

        img {
            height: 50vw;
        }
    }

    #aboutCont03 {
        height: 70vh;
        font-size: 1.8vw;

        .cont01 {
            font-size: 3.6vw;
        }

        img {
            height: 30vw;
        }
    }
}

@media(max-width: 800px){
    #aboutCont01 {
        height: 100vh;
        font-size: 2.2vw;

        .about__wrap h2 {
            font-size: 11vw;
            font-weight: 700;
        }

        .cont01 {
            font-size: 4.2vw;
        }
    }

    #aboutCont02 {
        height: 60vh;
        font-size: 2.2vw;

        .cont01 {
            font-size: 4.2vw;
        }

        img {
            height: 60vw;
        }
    }

    #aboutCont03 {
        font-size: 2.2vw;

        .cont01 {
            font-size: 4.2vw;
        }

        .cont02 {
            margin-bottom: 3vw;
        }

        .about__cont02 {
            display: block;
        }

        img {
            width: 100%;
            height: 40vw;
            margin-left: 0;
        }
    }
}